body{

	background-color:#EAF6F6	

}

hr{

	background-color:white;

	border-style:none;

	border-top-style:dotted;

	border-width:5px;

	border-color:grey;

	width:5%;

}

h1{

	font-family:"Times New Roman",Times,serif;

	color:#66BFBF;

}

h3{

    font-family:"Times New Roman",Times,serif;

	color:#66BFBF;

}

img{

	width:200px;

	height:200px;

	object-fit:contain;

}
img:hover{
    background-color:gold;
}
	  
	  

	  

	  

	  
